body {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: navy;
}

#calculator {
    display: flex;
    flex-direction: column;  
    gap: 10px;
    background-color: navy;
}

#display {
    background-color: lightgrey;
    color: navy;
    padding: 20px;
    font-size: 32px;
    text-align: right;
    border: 2px solid #333;
    border-radius: 5px;
    min-height: 50px;
}

#button-area {
    display: flex; 
    gap: 10px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.row button {
  width: 60px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  background-color: black;
  color: white;
}

#calculate {
  display: flex;
}

#calculate button {
  width: 60px;
  font-size: 24px;
  font-weight: bold;
  background-color: orange;
  color: white;
  cursor: pointer;
  color: navy;
}